<div id="api-list">
  <h2 class="off-left">APIs</h2>
  <div id="api-tabview" class="tabview">
    {{!-- <ul class="tabs">
      <li><a href="#api-classes">Classes</a></li>
    </ul> --}}

    <div id="api-tabview-filter">
        <input type="search" id="api-filter" placeholder="Type to filter APIs">
    </div>

    <div id="api-tabview-panel">
      <ul class="api-modules">
        {{#allModules}}
          <li><a class="mtitle" href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a>
            <ul class="api-classes">
              {{#../classes}}
                {{#equal module ../name}}
                  <li><a class="ctitle" href="{{../../projectRoot}}../classes/{{name}}.html">{{displayName}}</a></li>
                {{/equal}}
              {{/../classes}}
            </ul>
          </li>
        {{/allModules}}
      </ul>
    </div>

  </div>
</div>
